body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#cal-container {
    width: 470px;
    height: 650px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    background-color: rgb(146, 145, 145);
    
}

#screen {
    width: 420px;
    height: 120px;
    border: solid black;
    margin-top: 25px;
    background-color: black;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;

    
}

button {
  background-color: black;
  width: 100px;  
  height: 100px;
  font-size: 30px;
  margin: 5px;
  color: white
}

h3 {
    font-size: 38px;
}

h6 {
    font-size: 24px;
    
}